/* Hide scrollbar for Chrome, Safari and Opera */
.notacontainer::-webkit-scrollbar {
    display: none;
}
.notacontainer{
    background-color: #f6f4e0 ;
}
.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #078A30;
    margin-bottom: 10px;
}
.button {
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;  
    text-decoration: none;
    color:black
}
.button:hover{
    border: 1px solid black;
}
.headerText{
    font-weight: bold;
    font-size: 2em;
}
.headerBox{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
}
.imageCont{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
    /* position: absolute;
    top:6;
    left: 20;
} */
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    position: absolute;
    left: 25vw;
}
/* .about_main{
    background-color: aliceblue;
} */
.about_desc{
    columns: 2;
    margin: 10px;
}
.about_membersBox{
    background-color: green;
}
.about_membersBoxHeader{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DA131B;
}
